@import '../../utils/variables/variables.scss';

.about-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;

        @media (min-width: $med-min-width) {
            width: 82%;
            margin-bottom: 90px;
        }

    }
}