@import '../../utils/variables/variables.scss';

.star{

    width: 15px;
    height: 15px;

    @media (min-width: $med-min-width) {
        width: 30px;
        height: 30px;
    }

    &--orange {
        fill: $main-color;
    }

    &--grey {
        fill:  $third-color;
    }
}