@import '../../utils/variables/variables.scss';

.home-cards-background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    padding-top: 55px;
    padding-bottom: 55px;
    background: #F6F6F6;
    border-radius: 16px;
    @media (min-width: $med-min-width){
        margin-bottom: 45px;
    }
}

.home-cards-wrapper {
    width: 92%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;

    @media (min-width: $med-min-width){
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
        column-gap: 4.7%;
    }

    @media (min-width:$larg-min-width) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 4.7%;
    }


}