.home-hero-text {
    margin: 0;
    white-space: nowrap;
    font-size: 3rem;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.home-hero-wrapper {
    position: relative;
    margin-top: 45px;
    margin-bottom: 45px;
}

.home-hero-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: black;
    opacity: 30%;
    border-radius: 16px;
}

.home-hero-image {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.home-cards-background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    padding-top: 55px;
    padding-bottom: 55px;
    background: #F6F6F6;
    border-radius: 16px;
}

.home-cards-wrapper {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 4.7%;
}