.card-wrapper {
    display: flex;
    align-items: flex-end;
    height: 21rem;
    padding: 20px 30px;
    width: 100%;
    background: linear-gradient(#FF6060 50%, #00000070);
    border-radius: 16px;
}

.card-text {
    display: inline-block;
    width: 50%;
    color: white;
}