@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap);
@import '../variables/variables.scss';

html{
    font-family: 'Montserrat', 'Trebuchet MS', 'Helvetica', 'sans-serif';
}

body{
    margin: 0;
}


*{
    box-sizing: border-box;
}

h1{
    color:$main-color;
    font-size: 20px;
}

p {
    color: $main-color;
}

li {
    color: $main-color;
}

a {
    color: $main-color;
    font-weight: 500;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $med-min-width) {
        width: 86%;
    }

    @media (min-width: $xtra-min-width) {
        max-width: 1440px;
    }
}
