.tag {
    margin-right: 10px;
    background: #FF6060;
    border-radius: 8px;
    &__title {
        color: white;
        margin: 0;
        padding: 0.15rem 1.5rem 0.15rem 1.5rem;
        font-size: 0.9rem;
    }
}