@import '../../utils/variables/variables.scss';

.tag {
    margin: 10px 10px 0 0;
    background: #FF6060;
    border-radius: 8px;

    @media (min-width: $larg-min-width) {
        border-radius: 16px;
        margin: 0 10px 0 0;
    }

    &__title {
        color: white;
        margin: 0;
        padding: 6px 30px 6px 30px;
        font-size: .625rem;

        @media (min-width: $larg-min-width) {
            padding: 8px 40px 8px 40px;
            font-size: 0.9rem;
        }
    }
}