@import '../../utils/variables/variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: $med-min-width) {
        padding-bottom: unset;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-text{
    color: white;
    font-size: .75rem;

    @media (min-width: $med-min-width) {
        font-size: 1.5rem;
    }
}

.footer-logo {
    color: white;
    width: 122px;
    height: 40px;
}