.lodging {
    margin-top: 16px;
}

.id-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__name{
        margin: 0;
        font-size: 2.25rem;
    }
}

.owner-id {
    display: flex;
    align-items: center;
    &__name {
        font-size: 1.12rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 10px;
    }
}

.address {
    margin: 0;
    font-size: 1.12rem;
}

.tags-wrapper {
    &__list {
        margin: 24px 0 24px 0 ;
        display: flex;
    }
}
