.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-code {
    font-size: 18rem;
    margin-bottom: 110px;
}

.error-text {
    font-size: 2.2rem;
    margin-bottom: 200px;
}

.error-link {
    text-decoration: underline;
    font-size: 1.125rem;
    margin-bottom: 160px;
}